{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous !{% endblock %}

{% block body %}
<section>
    <div class="containerAPropos">
        <div class="contenuAPropos">
            <div>
                <h2>{{ patissier.prenom }} {{ patissier.nom }}</h2>
            </div>
            <div>
                <p>{{ patissier.aPropos}}</p>
            </div>
        </div>
        <div>
            <img src="/img/patrons2.jpg" alt="Les dirigeants de la Patisserie Claire et Romain">
        </div>
    <div>
</section>
{% endblock %}
