<!-- Gallerie d'image section -->
<section>
    <div class="container gal-container">
        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
            <div class="box">
                <img src="/img/1.jpg">
             </div>
         </div>
        <!-- 2eme image gallerie -->
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <img src="/img/2.jpg">
            </div>
        </div>
        <!-- 3eme image gallerie -->
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <img src="/img/3.jpg">
            </div>
        </div>
        <!-- 4eme image gallerie -->
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <img src="/img/4.jpg">
            </div>
        </div>
        <!-- 5eme image gallerie -->
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <img src="/img/5.jpg">
            </div>
        </div>
        <!-- 6eme image gallerie -->
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <img src="/img/6.jpg">
            </div>
        </div>
        <!-- 7eme image gallerie -->
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <img src="/img/7.jpg">
            </div>
        </div>
        <!-- 8eme image gallerie -->
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <img src="/img/8.jpg">
            </div>
        </div>
        <!-- 9eme image gallerie -->
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <img src="/img/9.jpg">
            </div>
        </div>
        <!-- 10eme image gallerie -->
        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
            <div class="box">
                <img src="/img/10.jpg">
            </div>
        </div>
    <div>
</section>
