<!-- Cards des produits section-->
<section>
    <div class="container">
        <div class="col-md-4 mt-4">
            <div class="card profile-card-5">
                <div class="card-img-block">
                    <img class="card-img-top" src="/img/banniere.jpg" alt="Card image cap">
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">Florence Garza</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>      
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Quote aside-->
<aside class="text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-white mb-4">Découvrez nos deux magasins situés au coeur de la Bretagne</div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjSFOA68SmyHeN2-ucNf5c5UdjEAPfoe-K0Q&usqp=CAU" alt="..." style="height: 3rem" />
            </div>
        </div>
    </div>
</aside>