<!-- Cards des produits section-->
<section>
    <div class="container">
        <div class="col-md-4 mt-4">

        {% for patisserie in patisseries %}
            <div class="card profile-card-5">
                <div class="card-img-block">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPcxM1G69ZMd9PHlfdjl0Tapo_9LvlpyKRalYrP9OYPrxwwTKKhRTZkCt3TWBtLlsYbyE&usqp=CAU" alt="{{ patisserie.nom }} de la Patisserie Claire et Romain">
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">{{ patisserie.nom }}</h5>
                    <p class="card-text">{{ patisserie.description|u.truncate(200,'...', false) }}</p>      
                </div>
            </div> 
        {% endfor %}

        </div>
    </div>
</section>
<!-- Quote aside-->
<aside class="text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-white mb-4">Découvrez nos deux magasins situés au coeur de la Bretagne</div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjSFOA68SmyHeN2-ucNf5c5UdjEAPfoe-K0Q&usqp=CAU" alt="..." style="height: 3rem" />
            </div>
        </div>
    </div>
</aside>