<!-- App badge section-->
<section class="bg-gradient-primary-to-secondary" id="download">
    <div class="container px-5">
        <h2 class="text-center text-white font-alt mb-4">Suivez-nous sur les réseaux sociaux</h2>
        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
            <a class="me-lg-3 mb-4 mb-lg-0" href="#!"><img class="app-badge" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjSFOA68SmyHeN2-ucNf5c5UdjEAPfoe-K0Q&usqp=CAU" alt="Facebook de la Patisserie Claire et Romain" /></a>
            <a href="#!"><img class="app-badge" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjSFOA68SmyHeN2-ucNf5c5UdjEAPfoe-K0Q&usqp=CAU" alt="Instagramm de la Patisserie Claire et Romain" /></a>
        </div>
    </div>
</section>