<!-- Presentation section-->
<section class="cta" style="background-image: url( {{asset('/img/banniere.jpg') }} | imagine_filter('welcome'))">
    <div class="cta-content">
        <div class="container px-5">
            <h2 class="text-white display-1 lh-1 mb-4">
                Bienvenue
                <br />
                Patisserie Claire et Romain
            </h2>
            <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="{{path('actualites')}}">Je découvre les produits</a>
        </div>
    </div>
</section>