<!-- Footer-->
<footer class="bg-black text-center py-5">
    <div class="container-column px-5">
        <div class="text-white-50 small">
            <div class="mb-2">&copy; Patisserie Claire et Romain 2021. All Rights Reserved.</div>
            <div class="mb-2">Nos patisseries et viennoiseries sont fait maison. Tous nos desserts sont élaborées avec soin dans nos 2 ateliers bretons.</div>
            <a href="{{path('aPropos')}}">Qui sommes nous ?</a>
            <span class="mx-1">&middot;</span>
            <a href="{{path('boutiques')}}">Nos adresses</a>
            <span class="mx-1">&middot;</span>
            <a href="{{path('contact')}}">Nous contacter</a>
        </div>
    </div>
</footer>