{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}
<section>
    <div class="container">

        {% for categorie in categories %}
            {% set patisserie = categorie.patisseries %}
            <div class=" col-md-2 mt-2 card profile-card-5">
                <div class="card-body pt-0 pink">
                    <a href="{{ path('portfolio_categorie', {'slug': categorie.slug}) }}">
                        <h5 class="card-title" style="color:white">{{ categorie.nom|capitalize }}</h5>
                        <p class="card-text" style="color:white">{{ categorie.description|u.truncate(200,'...', false) }}</p>
                    </a>      
                </div>
            </div> 
        {% endfor %}
    </div>
</section>
{% endblock %}
