{% extends 'base.html.twig' %}

{% block title %}Patisserie Claire et Romain - Actualité{% endblock %}

{% block body %}
<section>
    <div class="containerAPropos">
        {% if vich_uploader_asset(blogpost, 'imageFile') is null %}
        {% else %}
        <div>
            <img class="card-img-top" src="{{ vich_uploader_asset(blogpost, 'imageFile') | imagine_filter('grandeTaille') }} " alt="{{ blogpost.titre }} de la Patisserie Claire et Romain">
        </div>
        {% endif %}   
        <div class="containerActu" style="padding:0.5rem; justify-content:center">
            <div>
                <h2 class="pinkPolice">{{ blogpost.titre|capitalize }}</h2>
            </div>
            <div>
                <p>{{ blogpost.contenu|raw  }}</p>
            </div>
        </div>
    <div>
</section>

{% include "commentaire/form.html.twig" %}
{% include "commentaire/commentaires.html.twig" %}

{% endblock %}