{% for com in commentaires %}
    <div class="containerComment">
        <div class="row justify-content-center col-10">
            <div class="col-9">
                <div class="d-flex justify-content-center">
                    <h3 class="pinkPolice">Commentaires</h3>
                </div>
                <div class="card p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center"> 
                            <img src="/img/macaronsUser.jpg" width="50" class="user-img mr-2"> 
                            <span>
                                <small class="font-weight-bold">{{ com.auteur|capitalize }}</small> 
                            </span>
                            <span style="margin-left:0.3rem">
                                <small class="font-weight-bold pinkPolice">{{ com.contenu|raw  }}</small>
                            </span> 
                        </div> 
                        <small>{{ com.createdAt| date('d/m/Y') }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}