    <div class="containerComment">
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
<div>
    <div class="containerComment">
        <div class="row justify-content-center col-8">
            <div class="col-8 d-flex justify-content-center">
                    <h3 class="modal-title pinkPolice">Laissez nous un commentaire! </h3>
            </div>
            <div class="modal-body col-8">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>