{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous !{% endblock %}

{% block body %}
<section>
    <div class="container" style="margin-top:20vh">
        <h2>Nos deux boutiques implantées au coeur de la Bretagne</h2>

        <div class="containerBoutique">
            <div>
                <div class="boutique">
                    <div>
                        <h3><img src="/img/storeLogo.png" alt="Magasins Patisseries Claire et Romain" style="height: 1.5rem" />Boutique de Gestel</h3>
                    </div>
                    <div>
                        <p>Située au coeur de la cité de caractère Guidel sur la place de l'église.</p>
                        <p>Horaires : 
                            <ul>
                                <li>de 9h00 à 19h00 du mardi au vendredi,</li>
                                <li>de 8h30 à 19h00 le samedi,</li>
                                <li>de 8h00 à 12h30 le dimanche,</li>
                                <li>(fermé le lundi)</li>
                            </ul>
                        </p>
                        <p>Adresse : <span> 14 place de Polignac 56520 GUIDEL</span></p>
                        <p>Téléphone :  09 81 20 94 80</p>
                    </div>
                </div>
                <div class="boutique">
                    <div>
                        <h3><img src="/img/storeLogo.png" alt="Magasins Patisseries Claire et Romain" style="height: 1.5rem" />Boutique de Quimperlé</h3>
                    </div>
                    <div>
                        <p>Située au coeur de la cité de caractère Guidel sur la place de l'église.</p>
                        <p>Horaires : 
                            <ul>
                                <li>de 9h00 à 19h00 du mardi au vendredi,</li>
                                <li>de 8h30 à 19h00 le samedi,</li>
                                <li>de 8h00 à 12h30 le dimanche,</li>
                                <li>(fermé le lundi)</li>
                            </ul>
                        </p>
                        <p>Adresse :<span> 52, rue de Pont-Aven QUIMPERLÉ<span></p>
                        <p>Téléphone :  09 81 20 94 80</p>
                    </div>
                </div>
            </div>
            <div>
                <img src="/img/locaux.jpg" style="width: 65vh" alt="Les boutiques de la Patisserie Claire et Romain">
            </div>
        </div>
    <div>
</section>
{% endblock %}